.jumbotron {
    background-color: rosybrown;
    background-size: 100%;
    color: black;
    padding: 30px;
    height: 200px;
}
.jumbotron>h1 {
    display: inline-flex;
    margin-top: 4.5%;
    margin-left: 7%;
}

img {
    height: 150px;
    float: right;
    margin-right: 3rem;
}


.form-signin {
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 50px;
    background-image: url("img/study/study_header.jpg");
    margin-top: 10%;
}

.form-signin > h2 {
    margin-bottom: 5%;
}

.login-btn {
    margin: 3% 10%;
}

.login-btn > a {
    display: block;
    font-size: 20px;
}

#login-google {
    background-color: orangered;
    color: whitesmoke;
    margin: 20px;
}

#login-naver {
    background-color: #0BB348;
    color: whitesmoke;
    margin: 20px;
}
