<div th:fragment="common-script" xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            var messageToGuest = [[${messageToGuest}]];
            if (messageToGuest) {
                console.log('messageToGuest exists.');
                console.log($('#modal-messageToGuest'));
                $('#modal-messageToGuest').modal('show');
            } else {
                $('#modal-messageToGuest').modal('hide');
            }
        });

    </script>
</div>