<head th:fragment="common-head"
      xmlns:th="http://www.thymeleaf.org">
    <title>Study With Me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="http://bootstrapk.com/favicon.ico">
    <link rel="stylesheet" th:href="@{/css/bootswatch.css}"/>
    <link rel="stylesheet" th:href="@{/css/layout/common.css}"/>
    <script src="http://bootstrapk.com/assets/js/ie-emulation-modes-warning.js"></script>
</head>