<div th:fragment="common-script" xmlns:th="http://www.thymeleaf.org">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script th:inline="javascript">
        $(document).ready(function(){
            const messageToGuest = [[${messageToGuest}]];
            if (messageToGuest) {
                console.log('messageToGuest exists.');
                console.log($('#modal-messageToGuest'));
                $('#modal-messageToGuest').modal('show');
            } else {
                $('#modal-messageToGuest').modal('hide');
            }
        });

        $(document).on('click', '#processSignup', function () {
            $('input[name=nickname]').val($('#nickname').val());
            $('#form-signup').submit();
        });

        $(document).on('input', '#nickname', function (e) {
            const value = e.target.value;

            if(value === "") {
                $('#nickname').removeClass('is-valid');
                $('#nickname').removeClass('is-invalid');
                $('#div-valid').css('display', 'none');
                $('#div-invalid').css('display', 'none');
                $('#processSignup').addClass('disabled');
                return;
            }

            const nicknames = [[${existedNicknameList}]];
            let isDuplicated = false;

            nicknames.forEach(nickname => {
                if(nickname===value) {
                    isDuplicated = true;
                }
            });

            if(!isDuplicated) {
                $('#nickname').addClass('is-valid');
                $('#nickname').removeClass('is-invalid');
                $('#div-valid').css('display', 'block');
                $('#div-invalid').css('display', 'none');
                $('#processSignup').attr('disabled', false);
                $('#processSignup').removeClass('disabled');
            } else {
                $('#nickname').addClass('is-invalid');
                $('#nickname').removeClass('is-valid');
                $('#div-valid').css('display', 'none');
                $('#div-invalid').css('display', 'block');
                $('#processSignup').attr('disabled', true);
                $('#processSignup').addClass('disabled');
            }
        });

    </script>
</div>