<header th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Study With Me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/study/posts/list">스터디원 모집</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/place/posts/list">스터디 장소 추천</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/question/posts/list">질문 게시판</a>
                    </li>
                </ul>
                <span class="dropdown">
                    <th:block th:if="${user}">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">[[${user.nickname}]]</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/">Logout</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </th:block>
                    <th:block th:unless="${user}">
                        <a class="nav-link" href="/user/login">Login</a>
                    </th:block>
                </span>
            </div>
        </nav>
        <div layout:fragment="custom-header"></div>
    </div>
</header>
