<header th:fragment="headerFragment" xmlns:th="http://www.thymeleaf.org" xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
            <a class="navbar-brand" href="/"><i class="glyphicon glyphicon-fire"></i>Study With Me</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/study/posts/list">스터디원 모집</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/place/posts/list">스터디 장소 추천</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/board/place/posts/list">질문 게시판</a>
                    </li>
                </ul>
                <span class="navbar-text dropdown">
                    <th:block th:if="${user}">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          [[${user.nickname}]]
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </th:block>
                    <th:block th:unless="${user}">
                        <a class="nav-link" href="/user/login">Login</a>
                    </th:block>
                </span>
            </div>
        </nav>
        <div layout:fragment="custom-header"></div>
    </div>
</header>
