.col-md-4 {
    max-width: 100%;
}

.modify-btn {
    float: right;
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 30px;
}

.comment-content {
    display: inline-block;
    width: 85%;
    min-height: 70px;
    margin-bottom: 10px;
}

.bottom-line {
    margin-top: 20px;
    margin-bottom: 20%;
}

.label-comment-info {
    margin-right: 7px;
}

.label-comment-name {
    font-size: medium;
    font-weight: 500;
}

.div-img-comment {
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 0;
    padding-left: 5%;
}

.img-comment {
    width: auto;
    height: auto;
    max-width: 20px;
    max-height: 20px;
}

.div-reply-content {
    display: flex;
}

.reply-content {
    display: inline-block;
    width: 100%;
    min-height: 70px;
    margin-bottom: 10px;
}


.div-comment-save {
    margin-top: 40px;
    margin-left: 3%;
    font-size: medium;
}

.div-comment-content {
    display: flex;
}

.btn-comment-save {
    height: 70px;
    margin-left: 10px;
    width: 7%;
    font-size: medium;
}

#btn-list {
    float: right;
    margin-top: 35px;
    margin-right: 5%;
}

.languages-lumps {
    margin: 3% 0.5% 3% 0.5%;
    padding: 0.5% 1.5%;
    border-radius: 15px;
    background-color: dimgrey;
    color: aliceblue;
    font-weight: bold;
    white-space: nowrap;
}

#createdDate {
    margin-left: 25px;
}

#hr-top {
    margin-bottom: 5%;
}

form {
    font-size: medium;
    margin-bottom: 20%;
}

.top-line {
    display: inline-block;
    margin-top: 1.5%;
    margin-left: 1%;
}

#comment-content {
    font-size: medium;
}

#hr-bottom {
    margin-bottom: 4%;
}

.div-comment-list {
    margin-left: 3%;
}

.img-comment {
    margin-right: 1rem;
    margin-bottom: 70%;
}

label[name=comment-user-nickname] {
    font-size: medium;
}

textarea[name=reply-content] {
    font-size: medium;
}
