<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-content">
    <h2>닉네임 설정 Page</h2>

    <form th:action="@{/user/signup}" method="post">
        <input type="hidden" name="name" th:value="${user.name}">
        <input type="hidden" name="email" th:value="${user.email}">
        <input type="hidden" name="role" th:value="${user.role}">
        <input type="hidden" name="socialCode" th:value="${user.socialCode}">
        <label>
            닉네임을 입력해주세요.
            <input id="input-nickname" name="nickname" type="text" />
        </label>
        <button id="button-complete" class="btn btn-success">완료</button>
    </form>


    <!--  중복닉네임 안내창  -->
    <div id="modal-already_existed_nickname" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal">$times;</button>
                    이미 존재하는 닉네임입니다.
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-primary">OK</button></div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="custom-script">
    <script th:inline="javascript">
        $('#button-complete').click(function () {
            var existedNicknameList = [[${existedNicknameList}]];

            var inputNickname = $('#input-nickname').val();

            for (idx=0; idx < existedNicknameList.length; idx++) {
                if(existedNicknameList[idx].nickname = inputNickname) {
                    $('#modal-already_existed_nickname').modal('show');
                    return;
                }
            }

            alert('click');
        })
    </script>
</th:block>
</html>