<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/css/page/board/study/study.css}">
    <link rel="stylesheet" th:href="@{/css/page/board/study/posts-read.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="page-header">
        <h1>스터디 모집 게시판 <small>게시글 읽기</small></h1>
    </div>
</th:block>
<th:block layout:fragment="custom-content">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <form id="form-post">
                    <input type="hidden" id="postNo" th:value="${post.postNo}">
                    <input type="hidden" id="boardName" th:value="${post.boardName}">
                    <input type="hidden" id="userCode" th:value="${user.userCode}">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label label-name">제목</label>
                        <div class="col-sm-9">
                            <label id="title">[[${post.title}]]</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="conditionLanguages" class="col-sm-2 col-form-label label-name">개발 언어</label>
                        <div class="col-sm-9">
                            <label id="conditionLanguages">[[${post.conditionLanguages}]]</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="conditionPlace" class="col-sm-2 col-form-label label-name">장소</label>
                        <div class="col-sm-9">
                            <label id="conditionPlace">[[${post.conditionPlace}]]</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="period" class="col-sm-2 col-form-label label-name">기간</label>
                        <div id="period" class="col-sm-9">
                            <label>
                                [[${#dates.format(post.conditionStartDate, 'yy.MM.dd E')}]] ~
                                [[${#dates.format(post.conditionEndDate, 'yy.MM.dd E')}]]
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="conditionCapacity" class="col-sm-2 col-form-label label-name">정원 수</label>
                        <div class="col-sm-9">
                            <label id="conditionCapacity">
                                [[${post.conditionCapacity}==0 ? '정원 수 제한 없음' : ${post.conditionCapacity}]] 명
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="conditionExplanation" class="col-sm-2 col-form-label label-name">설명</label>
                        <div class="col-sm-9">
                            <p id="conditionExplanation" th:utext="${post.conditionExplanation}"></p>
                        </div>
                    </div>
                </form>
                <div th:if="${user.userCode} == ${post.user.userCode}" class="div-bottom-line">
                    <a th:href="@{/board/study/posts/update(postNo=${post.postNo})}" class="btn btn-success" role="button">수정</a>
                    <button class="btn btn-danger" id="btn-delete">삭제</button>
                </div>
                <div class="div-comment">
                    <h4>댓글</h4>
                    <div id="paste-comments">
                    </div>
                    <div class="div-comment-save">
                        <label id="login-nickname" for="comment-content">[[${user.nickname}]]</label><br>
                        <div class="div-comment-content">
                            <textarea id="comment-content" class="form-control comment-content"></textarea>
                            <button name="btn-comment-save" class="btn btn-outline-primary btn-comment-save">등록</button>
                        </div>
                    </div>
                </div>
                <div class="bottom-line">
                    <a href="/board/study/posts/list" class="btn btn-info btn-lg" id="btn-list" role="button">목록</a>
                </div>
            </div>

            <div id="add-comment" style="display: none;">
                <div name="wrapped-each-comment" class="div-comment-list">
                    <div name="div-one-comment">
                        <input type="hidden" name="commentNo">
                        <label name="comment-user-nickname" class="label-comment-info label-comment-name"></label>
                        <label name="comment-modifiedDate" class="label-comment-info"></label>
                        <button name="open-comment-modify" class="btn btn-outline-success btn-sm comment-modify-buttons">수정</button>
                        <button name="btn-comment-delete" class="btn btn-outline-danger btn-sm comment-modify-buttons">삭제</button>
                        <button name="open-reply-save" class="btn btn-outline-info btn-sm">답글달기</button>
                        <p name="p-comment-modify">
                            <label name="comment-content"></label>
                        </p>
                        <div name="div-comment-modify" class="div-comment-content" style="display: none;">
                            <textarea name="comment-content-modify" class="form-control comment-content"></textarea>
                            <button name="btn-comment-modify" class="btn btn-outline-success btn-comment-save">수정</button>
                        </div>
                    </div>
                </div>
                <div name="wrapped-each-reply" class="div-reply-list row">
                    <div class="col-md-1 div-img-comment">
                        <img th:src="@{/img/reply/sign-reply.png}" class="img-comment">
                    </div>
                    <div class="col-md-8">
                        <input type="hidden" name="replyNo" >
                        <label name="reply-user-nickname" class="label-comment-info label-comment-name"></label>
                        <label name="reply-modifiedDate" class="label-comment-info"></label>
                        <button name="open-comment-modify" class="btn btn-outline-success btn-sm reply-modify-buttons">수정</button>
                        <button name="btn-reply-delete" class="btn btn-outline-danger btn-sm reply-modify-buttons">삭제</button>
                        <p name="p-comment-modify">
                            <label name="reply-content"></label>
                        </p>
                        <div name="div-comment-modify" class="div-reply-content" style="display: none;">
                            <textarea name="reply-modify-content" class="form-control reply-content"></textarea>
                            <button name="btn-reply-modify" class="btn btn-outline-success btn-sm btn-comment-save">수정</button>
                        </div>
                    </div>
                </div>
                <div name="div-reply-save" class="div-reply-save row">
                    <div class="col-md-1 div-img-comment">
                        <img th:src="@{/img/reply/sign-reply.png}" class="img-comment">
                    </div>
                    <div class="col-md-8">
                        <label name="comment-user-nickname"></label>
                        <div class="div-reply-content">
                            <textarea name="reply-content" class="form-control reply-content"></textarea>
                            <button name="btn-reply-save" class="btn btn-outline-primary btn-sm btn-comment-save">등록</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-script">
    <script th:src="@{/js/page/board/study/posts-read.js}" th:inline="javascript" type="text/javascript"></script>
    <script th:src="@{/js/page/board/study/posts-api.js}" th:inline="javascript" type="text/javascript"></script>
</th:block>
</html>

