<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/css/page/board/study/study.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="jumbotron">
        <h1>스터디 장소 추천 게시판</h1>
        <p>게시판 목록</p>
        <p>
            <a href="/board/place/posts/write" class="btn btn-lg btn-primary" role="button">글 등록</a>
        </p>
    </div>
</th:block>
    <th:block layout:fragment="custom-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" th:each="post : ${list.content}">
                    <div class="card" style="width: 15rem;">
                        <img class="card-img-top" th:src="${post.thumbnailPath}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a th:href="@{/board/place/posts(postNo=${post.postNo})}">[[${post.title}]]</a></h5>
                            <p class="card-text">[[${post.address}]]</p>
                            <span class="card-text">추천 수 : [[${post.likeCount}]]</span>
                            <span class="card-text">비추 수 : [[${post.dislikeCount}]]</span>
                        </div>
                    </div>
                </div>
            </div>
            <nav aria-label="Page navigation example" style="text-align: center;"
                 th:with="start=${T(Math).floor(list.number/10)*10 + 1},
                        last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
                <ul class="pagination">
                    <li th:class="${list.first} ? 'disabled page-item' : 'page-item'">
                        <th:block th:if="${search}">
                            <a class="page-link" th:href="${list.first} ? '#' : @{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${list.number}-1)}">Previous</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="${list.first} ? '#' : @{/board/place/posts/list(page=${list.number}-1)}">Previous</a>
                        </th:block>
                    </li>
                    <li th:each="page : ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active page-item' : 'page-item'">
                        <th:block th:if="${search}" >
                            <a class="page-link" th:href="@{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${page-1})}">[[${page}]]</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="@{/board/place/posts/list(page=${page-1})}">[[${page}]]</a>
                        </th:block>
                    </li>
                    <li th:class="${list.last} ? 'disabled page-item' : 'page-item'">
                        <th:block th:if="${search}">
                            <a class="page-link" th:href="${list.last} ? '#' : @{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${list.number + 1})}">Next</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="${list.last} ? '#' : @{/board/place/posts/list(page=${list.number + 1})}">Next</a>
                        </th:block>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
    <th:block layout:fragment="custom-script">
        <script th:src="@{/js/page/board/study/posts-api.js}" th:inline="javascript" type="text/javascript"></script>
    </th:block>
</html>