<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/css/page/board/study/study.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="jumbotron">
        <h1>스터디 장소 추천 게시판</h1>
        <p>게시판 목록</p>
        <p>
            <a href="/board/place/posts/write" class="btn btn-lg btn-primary" role="button">글 등록</a>
        </p>
    </div>
</th:block>
    <th:block layout:fragment="custom-content">
        <div class="container">
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>게시글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종 수정일</th>
                    <th>조회 수</th>
                    <th>추천 수</th>
                    <th>비추 수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr th:each="post : ${list.content}">
                    <td th:text="${post.postNo}"></td>
                    <td>
                        <a th:href="@{/board/place/posts/read(postNo=${post.postNo})}">[[${post.title}]]</a>
                    </td>
                    <td th:text="${post.user.nickname}"></td>
                    <td th:text="${post.createdDate}"></td>
                    <td th:text="${post.viewCount}"></td>
                    <td th:text="${post.likeCount}"></td>
                    <td th:text="${post.dislikeCount}"></td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example" style="text-align: center;"
                 th:with="start=${T(Math).floor(list.number/10)*10 + 1},
                        last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">
                <ul class="pagination">
                    <li th:class="${list.first} ? 'disabled page-item' : 'page-item'">
                        <th:block th:if="${search}">
                            <a class="page-link" th:href="${list.first} ? '#' : @{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${list.number}-1)}">Previous</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="${list.first} ? '#' : @{/board/place/posts/list(page=${list.number}-1)}">Previous</a>
                        </th:block>
                    </li>
                    <li th:each="page : ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active page-item' : 'page-item'">
                        <th:block th:if="${search}" >
                            <a class="page-link" th:href="@{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${page-1})}">[[${page}]]</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="@{/board/place/posts/list(page=${page-1})}">[[${page}]]</a>
                        </th:block>
                    </li>
                    <li th:class="${list.last} ? 'disabled page-item' : 'page-item'">
                        <th:block th:if="${search}">
                            <a class="page-link" th:href="${list.last} ? '#' : @{/board/place/search/{searchType}/{keyword}/list(searchType=${search.searchType},keyword=${search.keyword},page=${list.number + 1})}">Next</a>
                        </th:block>
                        <th:block th:unless="${search}">
                            <a class="page-link" th:href="${list.last} ? '#' : @{/board/place/posts/list(page=${list.number + 1})}">Next</a>
                        </th:block>
                    </li>
                </ul>
            </nav>
        </div>
    </th:block>
    <th:block layout:fragment="custom-script">
        <script th:src="@{/js/page/board/study/posts-list.js}" th:inline="javascript" type="text/javascript"></script>
    </th:block>
</html>