<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/page/board/place/place.css}">
    <link rel="stylesheet" th:href="@{/css/page/board/place/posts-save.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="page-header">
        <h1>스터디 장소 추천 게시판 <small>게시글 작성</small></h1>
    </div>
</th:block>
<th:block layout:fragment="custom-content">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <form id="form-post">
                    <input type="hidden" id="userCode" th:value="${user.userCode}">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">제목</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                        </div>
                    </div>
                    <div class="form-group row">
                        <lable for="address" class="col-sm-2 col-form-label">주소</lable>
                        <div class="col-sm-9 input-group">
                            <span class="input-group-btn">
                                <button type="button" id="postcodify_search_button" class="btn btn-default btn-primary">주소 검색</button>
                            </span>
                            <input type="text" id="address" class="form-control postcodify_address" readonly>
                            <input type="text" id="address-detail" class="form-control" placeholder="자세한 주소">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="add-link" class="col-sm-2 col-form-label">추천 링크</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn-add-link" class="btn btn-default" type="button">+</button>
                                </span>
                                <input type="text" class="form-control" id="add-link" placeholder="add a link...">
                            </div>
                            <div id="div-linksBox">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="thumbnail" class="col-sm-2 col-form-label">썸네일</label>
                        <div class="col-sm-9">
                            <input type="file" id="thumbnail" name="thumbnail" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="content" class="col-sm-2 col-form-label"> 설명 </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="content" rows="10" cols="100" placeholder="내용을 입력하세요" ></textarea>
                        </div>
                    </div>
                </form>
                <a id="btn-cancel" href="/board/study/posts/list" class="btn btn-outline-secondary btn-lg" role="button">취소</a>
                <button type="submit" class="btn btn-primary btn-lg" id="btn-save">등록</button>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-script">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
    <script type="text/javascript" src="/api/se2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script th:src="@{/js/page/board/place/posts-save.js}" th:inline="javascript" type="text/javascript"></script>
    <script th:src="@{/js/page/board/place/posts-api.js}" th:inline="javascript" type="text/javascript"></script>
</th:block>
</html>