<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/page/board/study/study.css}">
    <link rel="stylesheet" th:href="@{/css/page/board/study/posts-save.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="page-header">
        <h1>질문 게시판 <small>게시글 수정</small></h1>
    </div>
</th:block>
<th:block layout:fragment="custom-content">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-4">
                <form id="form-post">
                    <input type="hidden" id="postNo" th:value="${post.postNo}">
                    <div class="form-group row">
                        <label for="title" class="col-sm-2 col-form-label">제목</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" th:value="${post.title}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="content" class="col-sm-2 col-form-label"> 설명 </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="content" name="content" rows="10" cols="100" placeholder="내용을 입력하세요" th:utext="${post.content}">
                            </textarea>
                        </div>
                    </div>
                </form>
                <a id="btn-cancel" href="/board/question/posts/list" class="btn btn-outlin e-secondary btn-lg" role="button">취소</a>
                <button type="button" class="btn btn-success btn-lg" id="btn-update">수정</button>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-script">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="/api/se2/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script th:src="@{/js/page/board/question/posts-update.js}" th:inline="javascript" type="text/javascript"></script>
    <script th:src="@{/js/page/board/question/posts-api.js}" th:inline="javascript" type="text/javascript"></script>
</th:block>
</html>