<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
>
<th:block layout:fragment="custom-css">
    <link rel="stylesheet" th:href="@{/css/page/board/study/study.css}">
</th:block>
<th:block layout:fragment="custom-header">
    <div class="jumbotron">
        <h1>질문 게시판</h1>
        <p>게시판 목록</p>
        <p>
            <a href="/board/question/posts/save" class="btn btn-lg btn-primary" role="button">글 등록</a>
        </p>
    </div>
</th:block>
    <th:block layout:fragment="custom-content">
        <div class="container">
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>게시글 번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>최종 수정일</th>
                    <th>조회 수</th>
                </tr>
                </thead>
                <tbody id="tbody">
                <tr th:each="post : ${list.content}">
                    <td th:text="${post.postNo}"></td>
                    <td>
                        <a th:href="@{/board/study/posts/read(postNo=${post.postNo})}">[[${post.title}]]</a>
                        <span class="badge badge-primary">[[${post.replyCount}]]</span>
                    </td>
                    <td th:text="${post.user.nickname}"></td>
                    <td th:text="${post.createdDate}"></td>
                    <td th:text="${post.viewCount}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <th:block layout:fragment="custom-script">
        <script th:src="@{/js/page/board/question/posts-list.js}" th:inline="javascript" type="text/javascript"></script>
        <script type="text/javascript" th:inline="javascript">
            console.log([[${list}]]);
        </script>
    </th:block>
</html>